@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


html, body, #cesiumContainer {
  width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
  font-family: sans-serif; color: #edffff;
}

a {
    font-weight: bold;
}

a:link, a:visited {
    color: #edffff;
    text-decoration: none;
}

a:hover, a:active {
    color: #3c9bc7;
    text-decoration: underline;
}

#toolbar {
/*    display: block; */
    top: 5px;
    left: 5px;
    position: absolute;
    background: rgba(42, 42, 42, 0.8);
    padding: 4px;
    border-radius: 5px;
}

#toolbar input {
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}
#toolbar .header {
    font-weight: bold;
    /* Make text un-selectable */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#share-button {
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#info-button {
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(80%, 800px);
    height: min(80%, 400px);
    z-index: 10;
    background: rgba(42, 42, 42, 1.0);
}

#about .overlay-contents {
    width: 100%;
    height: 100%;

    overflow: auto;
    display: grid;

    @include for-phone-only {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    @include for-tablet-portrait-up {
        grid-template-columns: 1fr 2fr;
        row-gap: 20px;
        column-gap: 10px;
    }
}

#logo {
    grid-column: 1;
    display: grid;
    justify-content: center;
    margin-top: 10px;
    min-height: 100px;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    background-position: center;
}

#copyright {
    height: auto;
    width: 100%;

    @include for-phone-only {
        grid-column: 1;
    }
    @include for-tablet-portrait-up {
        grid-column: 2;
    }
}

#description {
    height: auto;
    width: 100%;

    @include for-phone-only {
        grid-column: 1;
    }
    @include for-tablet-portrait-up {
        grid-column: 1 / 3;
    }
}


.overlay h1 {
    padding: 5px 25px;
}

.overlay p {
    padding: 5px 25px;
    text-align: justify;
}



.close {
    position: absolute;
    top: -10px;
    right: -10px;
}

#share div {
    padding-bottom: 1rem;
}


#share .overlay-contents {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

#share-links-section {
    display: flex;
    flex-flow: column nowrap;
}

#share-header {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

#share-url-input-wrapper {
    width: 100%;
    display: flex;
}

#share-url-input-wrapper input {
    width: 100%;
    flex-grow: 1;
    color: #dddddd;
    background-color: #222222;
    border: 2px solid #555555;
}

#share-url-copy-button {
    color: #dddddd;
    background-color: #222222;
    border: 2px solid #555555;
}
#share-url-copy-button:hover {
    cursor: pointer;
    background-color: #444444;
}

#share-url-links {

}

#share-qr-wrapper {
}
